body, html, div, h3, h4, h5, p, menu, ul {
    margin: 0;
    padding: 0;
}

/*menu*/

menu {
    background: #fe5f55;
}

menu > div {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

ul.menu {
    list-style: none;
}

ul.menu li {
    display: inline-block;
}

ul.menu li a {
    display: block;
    width: 100px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #f7f7ff;
}

ul.menu li a:hover {
    background: #dd4942;
}

/*forms*/

label {
    display: inline-block;
    box-sizing: border-box;
}

input[type="submit"] {
    border: 1px solid #747474;
    background-color: #faffbd;
    height: 28px;
    font: 15px/15px bold Arial, sans-serif;
    color: #747474;
    outline: none;
}

input[type="submit"]:hover {
    border: 1px solid white;
    background-color: #c58db5;
    cursor: pointer;
    color: white;
}

/*registration form*/

.reg {
    width: 380px;
    min-height: 120px;
    height: 222px;
    margin: 10px auto;
    font: 21px/30px Arial, sans-serif;
}

.reg input, .reg label {
    display: inline-block;
    height: 30px;
    box-sizing: border-box;
    padding: 2px 5px 5px 5px;
    margin: 5px 0;
}

.reg input {
    width: 190px;
}

.reg label {
    width: 190px;
    text-align: right;
    vertical-align: middle;
}

.reg p {
    display: block;
    font: 16px/20px Arial, sans-serif;
    color: #523e59;
}

.reg input[type="submit"], .reg p {
    margin-left: 190px;
}

/*confirmation message*/

.confirm {
    width: 320px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.confirm p {
    color: white;
    text-shadow: 1px 1px 1px #707070;
    font: 18px/30px Arial, sans-serif;
    margin: 10px;
}

/*articles main view*/

.articles {
    max-width: 960px;
    margin: 0 auto;
    max-height: 630px;
    overflow: auto;
    padding: 30px 0;
    box-sizing: content-box;
}

.articles > div {
    float: left;
    width: 220px;
    height: 200px;
    margin: 0 10px 10px;
    background-color: rgba(87, 115, 153, 0.4);
    font: 16px/30px Arial, sans-serif;
}

.articles a {
    display: block;
    box-sizing: border-box;
    background: rgba(171, 137, 124, 0.5);
    color: inherit;
    height: 170px;
    padding: 15px;
    overflow: hidden;
    text-decoration: none;
    font-size: 12px;
    line-height: 17px;
}

.articles a:hover {
    background: #a88784;
}

.articles span {
    padding: 0 15px;
    font-size: 13px;
}

.articles:after {
    clear: both;
    display: table;
    content: '';
    font-size: 0;
}

.add-article {
    width: 475px;
    margin: 0 auto;
    padding: 0 10px;
}

.add-article h3 {
    font-size: 16px;
}

.add-article textarea {
    width: 455px;
    height: 150px;
}

/*update and delete buttons*/

.buttons {
    display: inline-block;
}

.buttons input[type="submit"] {
    height: 20px;
}

/*one-article view*/

.one-article {
    width: 600px;
    margin: 10px auto;
    background-color: rgba(87, 115, 153, 0.4);
    font: 16px/30px Arial, sans-serif;
}

.one-article textarea, .one-article p {
    display: block;
    width: 600px;
    min-height: 400px;
    overflow: auto;
    background: rgba(171, 137, 124, 0.5);
    box-sizing: border-box;
    padding: 15px;
    font-size: 15px;
    line-height: 22px;
}

.one-article span {
    padding: 0 15px;
    font-size: 13px;
    line-height: 20px;
}

.one-article input[type="submit"] {
    height: 20px;
}

